[Desktop Entry]
Name=ASID Player
GenericName=ASID-Player
Comment=A simple ASID Protocol Player for SIDBlaster-USB
Exec=/usr/local/bin/SIDBlaster-ASID-Player %u
Icon=sidblaster-asid-player
Terminal=false
Type=Application
Categories=AudioVideo;
Version=1.0
