Package: sidblaster-aiass-vst
Version: 0.9.7
Section: sound
Priority: optional
Architecture: amd64
Essential: no
Installed-Size: 14336
Maintainer: Andreas Schumm <info@crazy-midi.de>
Homepage: https://crazy-midi.de
Description: A VST-Plugin for the SIDBlaster-USB Hardware.
