[Desktop Entry]
Name=AIASS VST
GenericName=AIASS-VST
Comment=A VST for Sidblaster-USB Hardware
Exec=/usr/local/bin/AIASS %u
Icon=sidblaster-aiass-vst
Terminal=false
Type=Application
Categories=AudioVideo;
Version=0.9.7
